<nav>
  <ul class="list-inline d-flex">
    <li class="mr-3"><a routerLink="/">Home</a></li>
    <li class="mr-3"><a routerLink="/about-me">Personally</a></li>
    <li class="mr-3"><a routerLink="/skills">Skills</a></li>
    <li class="mr-3"><a routerLink="/portfolio">Portfolio</a></li>
    <li class="mr-3"><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>
