li {
  list-style: none;
  font-family: "Maven Pro";
  font-weight: 500;
  font-size: 1.1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #85DCBA;
  -webkit-transition: color 2s;
  -moz-transition: color 2s;
  -ms-transition: color 2s;
  -o-transition: color 2s;
  transition: color 2s;
}
