h1 {
  color: white;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 9rem;
  text-shadow: #85DCBA 5px 5px;
}

.banner {
  animation: pulse-banner 5s infinite;
}

@keyframes pulse-banner {
  0% { color: white; text-shadow: #85DCBA 2px 2px; }
  25% { color: #E27D60; text-shadow: none; }
  50% { color: white; text-shadow: #85DCBA 2px 2px; }
  75% { color: #E27D60;text-shadow: none; }
  100% { color: white; text-shadow: #85DCBA 2px 2px; }
}

/*#E27D60*/
/*#85DCBA*/
/*#E8A87C*/
/*#C38D9E*/
/*#41B3A3*/
#test:hover {
  font-size: 9.5rem;
  text-shadow: #41B3A3 3px 3px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

i {
  font-size: 6rem;
  color: #fff;
  text-shadow: #85DCBA 3px 3px;
}

.fa-user-cog:hover {
  font-size: 7rem;
  text-shadow: #41B3A3 3px 3px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.fa-user-tag:hover {
  font-size: 7rem;
  text-shadow: #41B3A3 3px 3px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.fa-file-code:hover {
  font-size: 7rem;
  text-shadow: #41B3A3 3px 3px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.fa-id-card:hover {
  font-size: 7rem;
  text-shadow: #41B3A3 3px 3px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.swashIn {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

i p {
  font-family: "Maven Pro";
  font-weight: 500;
  text-shadow: none;
  font-size: 2rem;
}

@media (max-width: 1283px) {
  h1 {
    font-size: 7rem;
    margin-left: 5rem;
  }

  #test:hover {
    font-size: 7.5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  i {
    font-size: 4rem;
    color: #fff;
    text-shadow: #85DCBA 3px 3px;
  }

  .fa-user-cog:hover {
    font-size: 5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-user-tag:hover {
    font-size: 5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-file-code:hover {
    font-size: 5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-id-card:hover {
    font-size: 5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
}

@media (max-width: 1106px) {
  h1 {
    font-size: 5rem;
    margin-left: 3rem;
    text-shadow: #85DCBA 3px 3px;
  }

  #test:hover {
    font-size: 5.5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  i {
    font-size: 2rem;
    color: #fff;
    text-shadow: #85DCBA 2px 2px;
  }

  .fa-user-cog:hover {
    font-size: 3rem;
    text-shadow: #41B3A3 2px 2px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-user-tag:hover {
    font-size: 3rem;
    text-shadow: #41B3A3 2px 2px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-file-code:hover {
    font-size: 3rem;
    text-shadow: #41B3A3 2px 2px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .fa-id-card:hover {
    font-size: 3rem;
    text-shadow: #41B3A3 2px 2px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

  .swashIn p {
    font-size: 1rem;
  }
}

@media (max-width: 817px) {
  h1 {
    font-size: 3rem;
    margin-left: 8rem;
    text-shadow: #85DCBA 3px 3px;
  }

  #test:hover {
    font-size: 3.5rem;
    text-shadow: #41B3A3 3px 3px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }

}
