<h3 class="magictime vanishIn text-center text-uppercase text-light banner">INFO: Mobile website under construction!</h3>
<h1 class="magictime vanishIn display-4 text-uppercase mb-5 p-5" id="test">Lorenzo Longo</h1>
<div class="container">
  <div class="row text-center">
    <div class="col-3">
      <a routerLink="/about-me">
        <i class="fas fa-user-tag p-5 magictime swashIn">
          <p class="text-uppercase mt-3">Personally</p>
        </i>
      </a>
    </div>
    <div class="col-3">
      <a routerLink="/skills">
        <i class="fas fa-user-cog p-5 magictime swashIn">
          <p class="text-uppercase mt-3">Skills</p>
        </i>
      </a>
    </div>
    <div class="col-3">
      <a routerLink="/portfolio">
        <i class="fas fa-file-code p-5 magictime swashIn">
          <p class="text-uppercase mt-3">Portfolio</p>
        </i>
      </a>
    </div>
    <div class="col-3">
      <a routerLink="/contact">
        <i class="fas fa-id-card p-5 magictime swashIn">
          <p class="text-uppercase mt-3">Contact</p>
        </i>
      </a>
    </div>
  </div>
</div>
