#chevron:hover {
  border-bottom: none;
  text-decoration: none;
}

.boingInUp  {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

a:hover {
  border-bottom: #fff solid 5px;
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.fa-chevron-circle-left {
  font-size: 10rem;
}

a {
  font-family: "Maven Pro";
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

#facebook {
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}

#telephoneNr {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

#collegeEmail {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

#personalEmail {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

body {
  background-color: #41B3A3!important;
}

@media (max-width: 992px) {
  a {
    font-size: 1rem;
  }
}
