<div class="container">
  <div class="row text-center mb-5">
    <div class="col">
      <a id="chevron" routerLink="/" title="Return to Homepage"><i class="fas fa-chevron-circle-left magictime boingInUp"></i></a>
    </div>
  </div>
  <div class="row text-uppercase">
    <div class="col">
      <a id="personalEmail" href="mailto:lorenzo.longo_14@icloud.com" class="mr-lg-5 mr-md-3 magictime spaceInUp">Personal Email</a>
      <a id="collegeEmail" href="mailto:lorenzo.longo@student.odisee.be" class="mr-lg-5 mr-md-3 magictime spaceInUp">College Email</a>
      <a id="telephoneNr" href="tel:0032497792848" class="mr-lg-5 mr-md-3 magictime spaceInUp">Phone Number</a>
      <a id="facebook" target="_blank" href="https://www.facebook.com/Longo.Lorenz0" class="magictime spaceInUp">Facebook</a>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row text-light text-uppercase">
    <div class="col magictime spaceInUp">
      <app-footer></app-footer>
    </div>
  </div>
</div>
