<div class="container">
  <div class="row text-light text-uppercase text-center">
    <div class="col-11 skills-main-content magictime spaceInUp" data-simplebar>
      <h2 class="shadow-change mb-5">Skills</h2>
      <div class="text-left">
        <h3 class="ml-3 shadow-change-two">Programming Languages & Frameworks</h3>
        <hr>
        <div class="row">
          <div class="col-5">
            <ul class="shadow-change-three">
              <li>Bash</li>
              <li>C#</li>
              <li>Java</li>
              <li>JavaScript</li>
              <li>PHP</li>
              <li>Python</li>
              <li>SQL</li>
              <li>TypeScript</li>
              <li>HTML</li>
              <li>CSS</li>
              <hr>
              <li>Powershell</li>
              <li>Angular</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="col-7 text-center">
            <ul class="shadow-change-three">
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
            </ul>
          </div>
        </div>
        <h3 class="ml-3 shadow-change-two">Operating Systems</h3>
        <hr>
        <div class="row">
          <div class="col-5">
            <ul class="shadow-change-three">
              <li>Windows</li>
              <li>Linux <br>
                <ul>
                  <li>Ubuntu</li>
                  <li>Kali UX</li>
                  <li>Debian</li>
                  <li>CentOS</li>
                </ul>
              </li>
              <li>Mac OS</li>
            </ul>
          </div>
          <div class="col-7 text-center">
            <ul class="shadow-change-three">
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
            </ul>
          </div>
        </div>
        <h3 class="ml-3 shadow-change-two">Languages</h3>
        <hr>
        <div class="row">
          <div class="col-5">
            <ul class="shadow-change-three">
              <li>Dutch</li>
              <li>English</li>
              <li>French</li>
              <li>Italian</li>
            </ul>
          </div>
          <div class="col-7 text-center">
            <ul class="shadow-change-three">
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
            </ul>
        </div>
        </div>

        <h3 class="ml-3 mt-5 shadow-change-two">Software & Tools</h3>
        <hr>
        <div class="row">
          <div class="col-5">
            <ul class="shadow-change-three">
              <li><a target="_blank" href="https://www.jetbrains.com/webstorm/">Webstorm</a></li>
              <li><a target="_blank" href="https://www.jetbrains.com/phpstorm/">PHP Storm</a></li><hr>
              <li><a target="_blank" href="https://visualstudio.microsoft.com/vs/">Visual Studio</a></li>
              <li><a target="_blank" href="https://code.visualstudio.com">VS Code</a></li>
              <li><a target="_blank" href="https://developers.google.com/web/tools/chrome-devtools/">Chrome DevTools</a></li>
              <li><a target="_blank" href="https://netbeans.org">Netbeans</a></li>
              <li><a target="_blank" href="https://developer.android.com/studio/">Android Studio</a></li>
              <li><a target="_blank" href="https://www.sublimetext.com">Sublime Text</a></li><hr>
              <li><a target="_blank" href="https://www.mysql.com/products/workbench/">MySQL Workbench</a></li>
              <li><a target="_blank" href="https://cpanel.net">CPanel</a></li>
              <li><a target="_blank" href="https://firebase.google.com">Firebase</a></li><hr>
              <li><a target="_blank" href="https://github.com">GitHub</a></li>
              <li><a target="_blank" href="https://about.gitlab.com">GitLab</a></li><hr>
              <li><a target="_blank" href="https://nodejs.org/en/about/">Node.js</a></li>
              <li><a target="_blank" href="http://www.wampserver.com/en/">Wampserver</a></li>
              <li><a target="_blank" href="https://jenkins.io">Jenkins</a></li><hr>
              <li><a target="_blank" href="https://www.vmware.com/products/workstation-pro.html">VMWare Workstation</a></li>
              <li><a target="_blank" href="https://cloud.vmware.com">VMWare Cloud</a></li>
              <li><a target="_blank" href="https://www.digitalocean.com">DigitalOcean</a></li>
              <li><a target="_blank" href="https://www.docker.com">Docker</a></li>
              <li><a target="_blank" href="https://mobaxterm.mobatek.net">MobaXterm</a></li><hr>
              <li><a target="_blank" href="https://nl.wordpress.com">Wordpress</a></li>
              <li><a target="_blank" href="https://localbyflywheel.com">Local WP Tool</a></li><hr>
              <li><a target="_blank" href="https://www.adobe.com/products/photoshop.html">Adobe Photoshop</a></li>
            </ul>
          </div>
          <div class="col-7 text-center">
            <ul class="shadow-change-three">
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
              <br>
              <hr>
              <li><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i><i class="fab fa-superpowers mr-3"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <i class="fas fa-angle-double-down first-arrow"></i><br>
      <i class="fas fa-angle-double-down second-arrow"></i>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row text-light text-uppercase">
    <div class="col magictime spaceInUp">
      <app-footer></app-footer>
    </div>
  </div>
</div>

