h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
}

a {
  color: #ffffff;
  text-emphasis: none;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
  font-size: 3.2rem;
  -webkit-transition: font-size 1.5s;
  -moz-transition: font-size 1.5s;
  -ms-transition: font-size 1.5s;
  -o-transition: font-size 1.5s;
  transition: font-size 1.5s;
}

.shadow-change {
  -webkit-animation: shadow-change 5s infinite;
  -moz-animation: shadow-change 5s infinite;
  -o-animation: shadow-change 5s infinite;
  -ms-animation: shadow-change 5s infinite;
  animation: shadow-change 5s infinite;
}

@-webkit-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-moz-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-ms-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-o-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}


.shadow-change-two {
  -webkit-animation: shadow-change-two 5s infinite;
  -moz-animation: shadow-change-two 5s infinite;
  -o-animation: shadow-change-two 5s infinite;
  -ms-animation: shadow-change-two 5s infinite;
  animation: shadow-change-two 5s infinite;
}

@-webkit-keyframes shadow-change-two {
  0% { text-shadow: 4px 4px #85DCBA; }
  50% { text-shadow: 4px 4px #41B3A3; }
  100% { text-shadow: 4px 4px #85DCBA; }
}
@-moz-keyframes shadow-change-two {
  0% { text-shadow: 4px 4px #85DCBA; }
  50% { text-shadow: 4px 4px #41B3A3; }
  100% { text-shadow: 4px 4px #85DCBA; }
}
@-ms-keyframes shadow-change-two {
  0% { text-shadow: 4px 4px #85DCBA; }
  50% { text-shadow: 4px 4px #41B3A3; }
  100% { text-shadow: 4px 4px #85DCBA; }
}
@-o-keyframes shadow-change-two {
  0% { text-shadow: 4px 4px #85DCBA; }
  50% { text-shadow: 4px 4px #41B3A3; }
  100% { text-shadow: 4px 4px #85DCBA; }
}
@keyframes shadow-change-two {
  0% { text-shadow: 4px 4px #85DCBA; }
  50% { text-shadow: 4px 4px #41B3A3; }
  100% { text-shadow: 4px 4px #85DCBA; }
}




.shadow-change-three {
  -webkit-animation: shadow-change-three 5s infinite;
  -moz-animation: shadow-change-three 5s infinite;
  -o-animation: shadow-change-three 5s infinite;
  -ms-animation: shadow-change-three 5s infinite;
  animation: shadow-change-three 5s infinite;
}

@-webkit-keyframes shadow-change-three {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-moz-keyframes shadow-change-three {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-ms-keyframes shadow-change-three {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-o-keyframes shadow-change-three {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@keyframes shadow-change-three {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}



blockquote {
  font-family: Exo;
  font-weight: 900;
  font-size: 1.5rem;
}

.quoteName {
  font-family: "Maven Pro";
  font-weight: 700;
}

hr {
  background-color: #ffffff;
}

.skills-main-content {
  height: 30rem;
  width: 110rem;
  font-family: "Maven Pro";
  font-weight: 700;
  font-size: 3rem;
}

i {
  font-size: 3rem;
}

.first-arrow {
  animation: pulse-first-arrow 5s infinite;
}

.second-arrow {
  animation: pulse-second-arrow 5s infinite;
}

@keyframes pulse-first-arrow {
  0% { color: white }
  25% { color: #E27D60 }
  50% { color: white }
  75% { color: #E27D60 }
100% { color: white }
}

@keyframes pulse-second-arrow {
  0% { color: #E27D60 }
  25% { color: white }
  50% { color: #E27D60 }
  75% { color: white}
  100% { color: #E27D60 }
}


@media (max-width: 1200px) {

}
