.portfolio-main-content {
  height: 35rem;
  width: 110rem;
  font-family: "Maven Pro";
  font-weight: 700;
  font-size: 1rem;
}

.max-height {
  height: 35rem;
}

img {
  max-height: 30rem;
}

hr {
  background-color: #fff;
}

a {
  color: #85DCBA;
}

a:hover {
  border-bottom: #85DCBA solid 3px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

h2 {
  font-size: 5rem;
}

.shadow-change {
  -webkit-animation: shadow-change 5s infinite;
  -moz-animation: shadow-change 5s infinite;
  -o-animation: shadow-change 5s infinite;
  -ms-animation: shadow-change 5s infinite;
  animation: shadow-change 5s infinite;
}

@-webkit-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-moz-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-ms-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-o-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}

i {
  font-size: 3rem;
}

.first-arrow {
  animation: pulse-first-arrow 5s infinite;
}

.second-arrow {
  animation: pulse-second-arrow 5s infinite;
}

@keyframes pulse-first-arrow {
  0% { color: white }
  25% { color: #E27D60 }
  50% { color: white }
  75% { color: #E27D60 }
  100% { color: white }
}

@keyframes pulse-second-arrow {
  0% { color: #E27D60 }
  25% { color: white }
  50% { color: #E27D60 }
  75% { color: white}
  100% { color: #E27D60 }
}

@media (min-width: 1800px) {

    .portfolio-main-content {
      height: 50rem;
    }

  .max-height {
    max-height: 35rem;
  }

  img {
    max-height: 30rem;
  }
}

@media (max-width: 1200px) {
  .max-height {
    margin-bottom: 4rem;
  }
}

@media (max-width: 992px) {
  .max-height {
    margin-bottom: 17rem;
  }
}

@media (max-height: 864px) {
  .portfolio-main-content {
    height: 25rem;
  }
}

@media (max-height: 485px) {
  .portfolio-main-content {
    height: 15rem;
  }
}
