<div class="container">
  <div class="row text-center text-uppercase text-light">
    <div class="col-11 portfolio-main-content magictime spaceInUp" data-simplebar>
      <h2 class="shadow-change">Portfolio Timeline</h2>
      <hr class="my-3">
      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">House MD Website (2014)</h3>
          <p>
            This website was the first website I ever built (2014). I had to choose a Wix template and build it from scratch. The purpose of it was to exercise my HTML and CSS skills.
          </p>
          <p>
            Skills: HTML, CSS
          </p>
        </div>
        <div class="col-8">
          <div id="personalInfo" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#personalInfo" data-slide-to="0" class="active"></li>
              <li data-target="#personalInfo" data-slide-to="1"></li>
              <li data-target="#personalInfo" data-slide-to="2"></li>
              <li data-target="#personalInfo" data-slide-to="3"></li>
              <li data-target="#personalInfo" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/HouseMD/Webtechnieken_01.png" alt="Homepage House MD" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/HouseMD/Webtechnieken_02.png" alt="Newspage House MD" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/HouseMD/Webtechnieken_03.png" alt="Behind the Scenespage House MD" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/HouseMD/Webtechnieken_04.png" alt="Contactpage House MD" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/HouseMD/Webtechnieken_05.png" alt="Photopage House MD" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Popelin Lyceum Website (2014)</h3>
          <p>
            This website was built for my secondary school. It let me gain some more experience in building a HTML, CSS website from scratch. Also it was my first experience working with a client. The photos are screenshots from the template version.
          </p>
          <p>
            Skills: HTML, CSS
          </p>
        </div>
        <div class="col-8">
          <div id="popelinLyceum" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#popelinLyceum" data-slide-to="0" class="active"></li>
              <li data-target="#popelinLyceum" data-slide-to="1"></li>
              <li data-target="#popelinLyceum" data-slide-to="2"></li>
              <li data-target="#popelinLyceum" data-slide-to="3"></li>
              <li data-target="#popelinLyceum" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_01.png" alt="Popelin Lyceum Startpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_02.png" alt="Popelin Lyceum Homepage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_03.png" alt="Popelin Lyceum Staffpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_04.png" alt="Popelin Lyceum Personalpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_05.png" alt="Popelin Lyceum Classyearpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/PopelinLyceum/Popelin_Lyceum_06.png" alt="Popelin Lyceum Locationpage" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Technisch Atheneum Merelbeke Open Weekend (2015)</h3>
          <p>
            This website was the second website I built for my secondary school. It was an open weekend where all sorts of activities took place.
          </p>
          <p>
            Skills: HTML, CSS
          </p>
        </div>
        <div class="col-8">
          <div id="openWeekendTAM" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#openWeekendTAM" data-slide-to="0" class="active"></li>
              <li data-target="#openWeekendTAM" data-slide-to="1"></li>
              <li data-target="#openWeekendTAM" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/OpenWeekend/TAM_Open_Weekend_01.png" alt="Open Weekend Startpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/OpenWeekend/TAM_Open_Weekend_02.png" alt="Example Activities page" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/OpenWeekend/TAM_Open_Weekend_03.png" alt="Example Activities page" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Webdesign Projects (2015)</h3>
          <p>
            These were projects to train the webdesign principles learned throughout the course. We were given a logo, all the necessairy text and some guidelines. From there we had to design webpages.
          </p>
          <p>
            Skills: Photoshop, Web design
          </p>
        </div>
        <div class="col-8">
          <div id="webdesign" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#webdesign" data-slide-to="0" class="active"></li>
              <li data-target="#webdesign" data-slide-to="1"></li>
              <li data-target="#webdesign" data-slide-to="2"></li>
              <li data-target="#webdesign" data-slide-to="3"></li>
              <li data-target="#webdesign" data-slide-to="4"></li>
              <li data-target="#webdesign" data-slide-to="5"></li>
              <li data-target="#webdesign" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%201/Project_1_Project1_Projectenpaginapsd_02.jpg" alt="Projectspage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%201/Project_1_Project1_Detailpagina_02.jpg" alt="Detailpage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%201/Project_1_Project1_Betaalpagina_02.jpg" alt="Payment page" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%202/Project_2_Project_2_Homepage_02.jpg" alt="Course Homepage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%202/Project_2_Project_2_Cursussen_02.jpg" alt="Courses page" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%202/Project_2_Project_2_Detail_02.jpg" alt="Detailed Course page" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/webdesign-usability/raw/master/Project%202/Project_2_Project_2_Help_02.jpg" alt="Help page" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">User Experience Project (2016)</h3>
          <p>
            The purpose of the project was to run the process of building a business model website (prototype testable website). The steps included are creating a storyboard, doing a field research, creating personas, doing a brainstorm, creating a scenario, drawing a sketch of the website (desktop and mobile) and building a testable prototype.
            <br><br><a target="_blank" href="https://gitlab.com/LorenzoLongo/user-experience/tree/master/Project">Project Repository</a>
          </p>
          <p>
            Skills: Photoshop, Web design
          </p>
        </div>
        <div class="col-8">
          <div id="userEXPProject" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#userEXPProject" data-slide-to="0" class="active"></li>
              <li data-target="#userEXPProject" data-slide-to="1"></li>
              <li data-target="#userEXPProject" data-slide-to="2"></li>
              <li data-target="#userEXPProject" data-slide-to="3"></li>
              <li data-target="#userEXPProject" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="https://gitlab.com/LorenzoLongo/user-experience/raw/master/Project/Losse%20files/Brainstorm%20Do's.jpg" alt="Brainstorm" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/user-experience/raw/master/Project/Losse%20files/Scenario.jpg" alt="Scenario" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/user-experience/raw/master/Project/Losse%20files/Persona1.jpg" alt="Persona 1" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/user-experience/raw/master/Project/Losse%20files/Persona2.jpg" alt="Persona 2" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/user-experience/raw/master/Project/Losse%20files/Stroryboard.png" alt="Storyboard" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Photobooth Project (2017)</h3>
          <p>
            This was a project we did for college. They wanted a personalized photobooth that can be used during special activities (ex. open days). I started with making a prototype, afterwards one of my partners built the final photobooth case. We also created our own suitable application with filters.
            <br><br><a target="_blank" href="https://vimeo.com/372873281">Video of Application</a>
          </p>
          <p>
            Skills: Java, XML
          </p>
        </div>
        <div class="col-8">
          <div id="photobooth" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#photobooth" data-slide-to="0" class="active"></li>
              <li data-target="#photobooth" data-slide-to="1"></li>
              <li data-target="#photobooth" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="https://gitlab.com/LorenzoLongo/photobooth/raw/master/Documentatie/Prototype_photobooth/prototype_vs_photobooth_1.jpg" alt="Photobooth" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/photobooth/raw/master/Documentatie/Prototype_photobooth/Behuizing_binnenzijde.jpg" alt="Prototype Inside" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/photobooth/raw/master/Documentatie/Prototype_photobooth/prototype_vs_photobooth_4.jpg" alt="Final Inside" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Applied Programming (2017)</h3>
          <p>
            During this course I needed to create multiple applications. The first one is an application to calculate the prewitt and sobel filters for a randomly selected photo. The second application is a decision tree application which decides if a selected photo is a sunset or another natural phenomenon.
            <br><br><a target="_blank" href="https://gitlab.com/LorenzoLongo/applied-programming">Applied Programming Repository</a>
          </p>
          <p>
            Skills: C#, Weka (Data Mining Software)
          </p>
        </div>
        <div class="col-8">
          <div id="ap" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#ap" data-slide-to="0" class="active"></li>
              <li data-target="#ap" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/AppliedProgramming/AP_01.jpg" alt="Prewitt/Sobel Filter Application" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/AppliedProgramming/AP_02.jpg" alt="Decision Tree Application" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class=my-5>Advanced Applied Programming (2018)</h3>
          <p>
            During this course it was the objective to create a maze game in WPF (in C# code and in XAML). The second objective was creating a maze game that is playable. It contained a way to select the start and endpoint of the maze, collision detection and an algorithm (Breadth First) to solve the maze.
            <br><br><a target="_blank" href="https://gitlab.com/LorenzoLongo/advanced-applied-programming">Advanced Applied Programming Repository</a>
          </p>
          <p>
            Skills: C#, WPF, XAML
          </p>
        </div>
        <div class="col-8">
          <div id="aap" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#aap" data-slide-to="0" class="active"></li>
              <li data-target="#aap" data-slide-to="1"></li>
              <li data-target="#aap" data-slide-to="2"></li>
              <li data-target="#aap" data-slide-to="3"></li>
              <li data-target="#aap" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/AAP/AAP_01.jpg" alt="WPF Preview" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/AAP/AAP_02.jpg" alt="WPF Adjusted Walls" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/AAP/AAP_05.jpg" alt="Maze Starting Grid" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/AAP/AAP_03.jpg" alt="Drawn Maze" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/AAP/AAP_04.jpg" alt="Solved Maze" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Clientside Scripting Project (2018)</h3>
          <p>
            In this project the main objective was to test the JavaScript principles that are learned throughout the course. The website was built from scracth and is used to plan train rides and see the liveboard of train rides of a specific station.
            <br><br><a target="_blank" href="https://praedial-taxes.000webhostapp.com/">Test The Website</a>
          </p>
          <p>
            Skills: HTML, CSS, JavaScript, jQuery, iRail API
          </p>
        </div>
        <div class="col-8">
          <div id="clientsideScripting" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#clientsideScripting" data-slide-to="0" class="active"></li>
              <li data-target="#clientsideScripting" data-slide-to="1"></li>
              <li data-target="#clientsideScripting" data-slide-to="2"></li>
              <li data-target="#clientsideScripting" data-slide-to="3"></li>
              <li data-target="#clientsideScripting" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <img src="../../assets/shared/ClientsideScripting/Clientside_Scripting_01.jpg" alt="Train Routeplanner Homepage" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/ClientsideScripting/Clientside_Scripting_05.jpg" alt="Form Handling" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/ClientsideScripting/Clientside_Scripting_04.jpg" alt="Routeplanner Trainrides" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/ClientsideScripting/Clientside_Scripting_02.jpg" alt="Trainstation Liveboard" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="../../assets/shared/ClientsideScripting/Clientside_Scripting_03.jpg" alt="Saved Trainrides" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">POP Project (2019)</h3>
          <p>
            In this course I had the opportunity to choose the subject I want to study. The subjects were the Angular and Bootstrap frameworks.
          </p>
          <p>
            Skills: Angular, Firebase, Bootstrap (HTML, CSS, JavaScript, TypeScript)
          </p>
        </div>
        <div class="col-8">
          <div id="bootstrap" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#bootstrap" data-slide-to="0" class="active"></li>
              <li data-target="#bootstrap" data-slide-to="1"></li>
              <li data-target="#bootstrap" data-slide-to="2"></li>
              <li data-target="#bootstrap" data-slide-to="3"></li>
              <li data-target="#bootstrap" data-slide-to="4"></li>
              <li data-target="#bootstrap" data-slide-to="5"></li>
              <li data-target="#bootstrap" data-slide-to="6"></li>
              <li data-target="#bootstrap" data-slide-to="7"></li>
              <li data-target="#bootstrap" data-slide-to="8"></li>
              <li data-target="#bootstrap" data-slide-to="9"></li>
              <li data-target="#bootstrap" data-slide-to="10"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <iframe class="embed-responsive-item"  src="https://player.vimeo.com/video/372897351" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355621357" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355621813" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355620114" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355621175" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355620981" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355620570" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/355620255" width="640" height="326" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <iframe class="embed-responsive-item" title="vimeo-player" src="https://player.vimeo.com/video/355621559" width="640" height="326" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/pop/raw/master/Angular/certificate.jpg" alt="Angular Certificate" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://gitlab.com/LorenzoLongo/pop/raw/master/Bootstrap/certificate_bootstrap.jpg" alt="Bootstrap Certificate" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row max-height">
        <div class="col-4">
          <h3 class="my-5">Other</h3>
          <p>
            These are some other skills where I've gained some experience throughout the years.
          </p>
        </div>
        <div class="col-8">
          <div id="otherClasses" class="slide carousel" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
              <li data-target="#otherClasses" data-slide-to="0" class="active"></li>
              <li data-target="#otherClasses" data-slide-to="1"></li>
              <li data-target="#otherClasses" data-slide-to="2"></li>
              <li data-target="#otherClasses" data-slide-to="3"></li>
              <li data-target="#otherClasses" data-slide-to="4"></li>
              <li data-target="#otherClasses" data-slide-to="5"></li>
              <li data-target="#otherClasses" data-slide-to="6"></li>
              <li data-target="#otherClasses" data-slide-to="7"></li>
              <li data-target="#otherClasses" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner p-5 text-light text-center text-uppercase">
              <div class="carousel-item active">
                <p>
                  This Website:<br>
                  HTML, CSS, TypeScript, Angular, Bootstrap, Magic Animations, Animation.css.
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  System Management:<br>
                  Management of Linux and Windows distributions.
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Microcontrollers:<br>
                  Programming in the Arduino platform.
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Programming:<br>
                  Java, C# courses with all of the OO principles.<br>

                  <a target="_blank" href="https://gitlab.com/LorenzoLongo/csharpoo">C#OO Repository</a><br>
                  <a target="_blank" href="https://gitlab.com/LorenzoLongo/csharp-programming-techniques">C# Programming Techniques Repository</a>
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Network and Data Security:<br>
                  Setting up a firewall protection for a computer network (Palo Alto).
                  Cryptography, password cracking, penetration testing, 802.1X..
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Networking:<br>
                   Cisco CCNA.
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Enterprise Networks:<br>
                  Virtualization, Ansible, Docker, Active Directory (DFS), DNSSEC, IPv6.<br>

                  <a target="_blank" href="https://gitlab.com/LorenzoLongo/enterprise-networks">Enterprise Networks Repository</a><br>

                  TIP: ASCIIDOCTOR Extension is needed to open the .asciidoc files.
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Serverside Scripting:<br>
                  Basic PHP, Forms, Classes, Databases, Templates, Persistence of Forms.<br>

                  <a target="_blank" href="https://gitlab.com/LorenzoLongo/serverside-webscripten">Serverside Scripting Repository</a><br>
                </p>
              </div>
              <div class="carousel-item">
                <p>
                  Digitalizing V8 Tapes:<br>
                  Digitalizing old V8 tapes and video edit them.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-1">
      <i class="fas fa-angle-double-down first-arrow"></i><br>
      <i class="fas fa-angle-double-down second-arrow"></i>
    </div>
  </div>
</div>
<app-footer></app-footer>
