<div class="container">
  <div class="row">
    <div class="col">
      <div id="personalInfo" class="slide carousel" data-ride="carousel" data-interval="8000">
        <ol class="carousel-indicators">
          <li data-target="#personalInfo" data-slide-to="0" class="active"></li>
          <li data-target="#personalInfo" data-slide-to="1"></li>
          <li data-target="#personalInfo" data-slide-to="2"></li>
          <li data-target="#personalInfo" data-slide-to="3"></li>
          <li data-target="#personalInfo" data-slide-to="4"></li>
          <li data-target="#personalInfo" data-slide-to="5"></li>
          <li data-target="#personalInfo" data-slide-to="6"></li>
          <li data-target="#personalInfo" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner p-5 text-light text-center text-uppercase">
          <div class="carousel-item active">
            <p class="magictime boingInUp">Hi, my name is Lorenzo Longo</p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Born and raised in the area of Ghent</p>
            <img src="../../assets/shared/Ghent.png" alt="Ghent" class="img-fluid" style="width: 500px; height: 300px">
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Graduated as an electrical engineer at <a target="_blank" href="https://atheneummerelbeke.be">Atheneum Merelbeke</a></p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Studying Electronics - ICT at <a target="_blank" href="https://www.odisee.be/nl/elektronica-ict">Odisee Ghent</a></p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">I can:<br><hr><ul><li>Build a website</li>
            <hr  class="my-3 hr-list"><li>Program in various languages</li>
            <hr class="my-3 hr-list"><li>Help with network management</li></ul></p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Also:<br><hr><ul><li>Do some data science</li>
            <hr class="my-3 hr-list"><li>Obtained some knowledge of data security</li></ul></p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Some facts about me:<br><hr><ul>
            <li>Italian roots, Puglia area</li><hr class="my-3 hr-list">
            <li>Doesn't say no to food and cooking</li><hr class="my-3 hr-list hr-list-length">
          </ul></p>
          </div>
          <div class="carousel-item">
            <p class="magictime spaceInUp">Some facts about me:<br><hr><ul>
            <li>Movie fan</li><hr class="my-3 hr-list">
            <li>Supporter of KAA Gent & Juventus</li>
          </ul></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row text-light text-uppercase">
    <div class="col magictime spaceInUp">
      <app-footer></app-footer>
    </div>
  </div>
</div>
