.container {
  font-family: "Maven Pro";
  font-weight: 500;
  font-size: 5rem;
}

a {
  color: #85DCBA;
  text-shadow: 5px 5px white;
}

a:hover {
  font-size: 5.5rem;
  text-decoration: none;
  -webkit-transition: font-size 3s;
  -moz-transition: font-size 3s;
  -ms-transition: font-size 3s;
  -o-transition: font-size 3s;
  transition: font-size 3s;
}

.carousel-item {
  -webkit-animation: shadow-change 5s infinite;
  -moz-animation: shadow-change 5s infinite;
  -o-animation: shadow-change 5s infinite;
  -ms-animation: shadow-change 5s infinite;
  animation: shadow-change 5s infinite;
}

@-webkit-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-moz-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-ms-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@-o-keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}
@keyframes shadow-change {
  0% { text-shadow: 5px 5px #85DCBA; }
  50% { text-shadow: 5px 5px #41B3A3; }
  100% { text-shadow: 5px 5px #85DCBA; }
}

.boingInUp {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

li {
  font-size: 3rem;
  text-shadow: 3px 3px #85DCBA;
  list-style: none;
  -webkit-animation: shadow-change-list 5s infinite;
  -moz-animation: shadow-change-list 5s infinite;
  -o-animation: shadow-change-list 5s infinite;
  -ms-animation: shadow-change-list 5s infinite;
  animation: shadow-change-list 5s infinite;
}

@-webkit-keyframes shadow-change-list {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-moz-keyframes shadow-change-list {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-ms-keyframes shadow-change-list {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@-o-keyframes shadow-change-list {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}
@keyframes shadow-change-list {
  0% { text-shadow: 3px 3px #85DCBA; }
  50% { text-shadow: 3px 3px #41B3A3; }
  100% { text-shadow: 3px 3px #85DCBA; }
}

hr {
  background-color: #ffffff;
  width: 40rem;
}

.hr-list {
  height: 4px;
  -webkit-animation: line-color-change 5s infinite;
  -moz-animation: line-color-change 5s infinite;
  -o-animation: line-color-change 5s infinite;
  -ms-animation: line-color-change 5s infinite;
  animation: line-color-change 5s infinite;
}

@-webkit-keyframes line-color-change {
  0% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 10rem; }
  50% { box-shadow: 0px 4px #ffffff; background-color: #97CAEF; }
  100% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 40rem;}
}
@-moz-keyframes line-color-change {
  0% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 10rem; }
  50% { box-shadow: 0px 4px #ffffff; background-color: #97CAEF; }
  100% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 40rem;}
}
@-ms-keyframes line-color-change {
  0% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 10rem; }
  50% { box-shadow: 0px 4px #ffffff; background-color: #97CAEF; }
  100% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 40rem;}
}
@-o-keyframes line-color-change {
  0% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 10rem; }
  50% { box-shadow: 0px 4px #ffffff; background-color: #97CAEF; }
  100% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 40rem;}
}
@keyframes line-color-change {
  0% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 10rem; }
  50% { box-shadow: 0px 4px #ffffff; background-color: #97CAEF; }
  100% { box-shadow: 0px 4px #97CAEF; background-color: #ffffff; width: 40rem;}
}

li:hover {
  font-size: 3.5rem;
  text-shadow: 3.5px 3.5px #85DCBA;
  -webkit-transition: font-size 3s;
  -moz-transition: font-size 3s;
  -ms-transition: font-size 3s;
  -o-transition: font-size 3s;
  transition: font-size 3s;
}


@media (max-width: 1200px) {
  .container {
    margin-top: -12rem;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: -10rem;
  }
}
