/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E27D60!important;
  margin: 0!important;
  overflow-y: hidden;
  font-family: 'Exo', sans-serif;
}

@font-face {
  font-family: 'Exo', sans-serif;
  font-family: 'Maven Pro', sans-serif;
}
